            <footer id="footer">
                <div class="footer-up container">
                    <div>
                        <h3>Pages</h3>
                        <ul class="footer-links">
                            <li><a href="services.html">Services</a></li>
                            <li><a href="realisations.html">Réalisations</a></li>
                            <li><a href="formations.html">Formations</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <br>
                            <li><a href="mentions.html">Mentions Légales</a></li>
                            <li><a href="confidentialite.html">Politique de Confidentialité</a></li>
                        </ul>
                    </div>
                    <div class="apropos">
                        <h3>A propos</h3>
                        <p>Le code source de ce site est accessible sur <a href="https://framagit.org/Ximun/art-e-toile" target="_blank">framagit.org</a></p>
                    </div>
                </div>

                <div class="footer-networks">
                    <ul class="networks">
                        <li><a href="https://framagit.org/Ximun" target="_blank"><i class="fab fa-gitlab"></i></a></li>
                    </ul>
                </div>

                <div class="footer-bar">
                    <div class="grid-container">
                        www.art-e-toile.com
                    </div>
                </div>
            </footer>
