<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>art e-toile</title>
        <link rel="stylesheet" href="dist/app/app.css">

        <%= require('./matomo.ejs')() %>

    </head>
    <body>

        <header>

            <div id="menuPageContainer">

                    <div id="menu" class="container menu-container">
                        <div id="title-bar">
                            <div class="logo-container">
                                <a href="index.html"><img src="dist/img/logo.svg"></a><a href="index.html"><span class="title">art-e-toile</span></a>
                            </div>
                        </div>
                        <div id="mainNav">
                            <ul class="menu">
                                <li><a href="services.html">Services</a></li>
                                <li><a href="realisations.html">Réalisations</a></li>
                                <li><a href="formations.html">Formations</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                        <div id="responsiveButton"><i class="fa fa-bars"></i></div>
                        <div id="responsiveOverlay"></div>
                    </div>

            </div>
        </header>
