.astronaut {
    animation-name: astronaut;
    transform-origin: left bottom;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

@keyframes astronaut {
    0%{transform: translate(-50%,calc(-50% - 10px))}
    50%{transform: translate(-50%,-30px) rotate(-25deg)}
    100%{transform: translate(-50%,calc(-50% - 10px))}

}
