.shaker {
    animation-name:shakes;
    animation-duration:1.25s;
    transform-origin:50% 50%;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

@keyframes shakes {
    0%{transform:translate(1px,1px) rotate(0deg)}
    10%{transform:translate(-1px,-1px) rotate(-0.15deg)}
    20%{transform:translate(-1px,0) rotate(0.15deg)}
    30%{transform:translate(0,1px) rotate(0deg)}
    40%{transform:translate(1px,-1px) rotate(0.15deg)}
    50%{transform:translate(-1px,1px) rotate(-0.15deg)}
    60%{transform:translate(-1px,1px) rotate(0deg)}
    70%{transform:translate(1px,1px) rotate(-0.15deg)}
    80%{transform:translate(-1px,-1px) rotate(0.15deg)}
    90%{transform:translate(1px,1px) rotate(0deg)}
    100%{transform:translate(1px,-1px) rotate(-0.15deg)}
}
