<%= require('./partials/header.ejs')() %>

        <div id="services-wrapper">

            <div class="container">

                <h1>Politique de Confidentialité</h1>

                <h2>Droit d'auteur</h2>
                <p>
                    <b><u>Contenu:</u></b><br>
                    Les images présentes sur le site, autres que le logo et que les images extraites des sites webs présentés, proviennent entièrement ou partiellement du site <a href="https://www.freepik.com" target="_blank">www.freepik.com</a>.<br>
                    Les images utilisées pour présenter les différents sites webs réalisés appartiennent aux propriétaires du site en question.<br>
                    Le code source et le reste du contenu de ce site sera prochainement disponible sous licence libre.
                </p>

                <h2>RGPD</h2>
                
                <h3>Formulaire de mail</h3>

                <p><u>Accessible sur la page <a href="contact.html">Contact</a></u></p>
                <p>Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par <b>Simon Crespeau</b> pour <b>la réception de courriers électroniques</b>. La base légale du traitement est celle du <b>consentement</b>.</p>
                <p>Les données collectées seront communiquées seulement à <b>Simon Crespeau</b> par courrier électronique.</p>
                <p>Les données sont conservées pendant <b>2 ans à partir de la réception du courrier électronique</b>. La date correspondante est celle de la réception de votre e-mail de confirmation d'envoi.</p>
                <p>Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer votre droit à la limitation du traitement de vos données. Vous pouvez à tout moment également vous opposer au traitement de vos données.</p>
                <p>Consultez le site <a href="https://www.cnil.fr" targer="_blank">cnil.fr</a> pour plus d'informations sur vos droits.</p>
                <p>Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez contacter <b>Simon Crespeau</b> également par courrier électronique à <a href="mailto:simon@art-e-toile.com">simon@art-e-toile.com</a>.</p>
                <p>Si vous estimez, après avoir pris contact, que vos droits <b>Informatique et Libertés</b> ne sont pas respectés, vous pouvez adresse une réclamation à la CNIL.</p>

                <h3>Système de statistique d'audience</h3>
                <p><b>art-e-toile.com</b> utilise un système de statistiques d'audience via le logiciel libre <a href="https://matomo.org" target="_blank">Matomo</a>. La loi ne contraint pas les sites qui utilisant ce logiciel à récupérer le consentement auprès des utilisateurs, car les options garantifiant votre anonymat ainsi que le non pistage de votre navigation en-dehors de <b>art-e-toile.com</b> sont activées.</p>
                <p>Toutefois, vous pouvez tout à fait refuser que votre navigation serve à des statistiques d'audience. Il suffit de décocher la case ci-dessous.</p>

                <iframe
                  style="border: 0; height: 200px; width: 600px;"
                  src="https://www.art-e-toile.com/matomo/index.php?module=CoreAdminHome&action=optOut&language=fr&backgroundColor=&fontColor=&fontSize=&fontFamily=">
                </iframe>

            </div>

        </div>

<%= require('./partials/footer.ejs')() %>

    <script type="text/javascript" src="dist/app/app.js"></script>
    </body>
</html>
