<%= require ('./partials/header.ejs')() %>

        <div id="contact-wrapper">

            <div class="me wrapper white">
                <h2>A propos</h2>
                <div class="container apropos-container">
                    <div class="me-wrapper"><div id="circle"><img src="dist/img/me.svg"></div></div>
                    <div class="text-wrapper">
                        <div class="text">
                            <p>Passioné par l'informatique, Internet et le Web depuis mes 10 ans, j'ai toujours eu à coeur de comprendre comment fonctionnent ces outils de l'intérieur. La partie invisible, l'envers du décor...</p>
                            <p>Après un diplôme de musicien de conservatoire en 2015, je décide de débuter en 2016 une formation professionnelle autodidacte à la création de sites web, afin de lier ces années de pratique informatique et artistique.</p>
                            <p>Parallèlement, je suis convaincu que le modèle des logiciels libres présente un intérêt majeur pour notre culture numérique et dans notre rapport au collectif. C'est pourquoi plus largement qu'une simple solution technique, je peux vous proposer des outils libres et respectueux de la vie privée.</p>
                            <p>C'est en mélangeant toutes ces envies qu'est né <b>art e-toile.</b></p>
                        </div>
                    </div>
                    <img class="ufo" src="dist/img/fusee3.png"/>
                </div>
            </div>

        <div id="separate-contact"></div>
        <div class="contact-form-and-adress wrapper blue">
            <h2>Contactez-moi</h2>
                <div class="container">
                    <form id="form" class="form" action="mail.php" method="post">

                        <table>
                            <tbody>
                                <tr>
                                    <td><label for="name"><i class="fa fa-user"></i></label></td>
                                    <td><input placeholder="Prénom / Nom" type="text" id="name" name="name"><span id="msg_name"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="society"><i class="fa fa-balance-scale"></i></label></td>
                                    <td><input placeholder="Société (facultatif)" type="text" id="society" name="society"></td>
                                </tr>
                                <tr>
                                    <td><label for="email"><i class="fa fa-envelope"></i></label></td>
                                    <td><input placeholder="E-mail" type="email" id="email" name="email"><span id="msg_email"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="phone"><i class="fa fa-phone"></i></label></td>
                                    <td><input placeholder="Téléphone (facultatif)" type="text" id="phone" name="phone"></td>
                                </tr>
                                <tr>
                                    <td><label for="describe"><i class="fa fa-pencil"></i></label></td>
                                    <td><textarea placeholder="Décrivez votre projet" id="describe" class="materialize-textarea" name="describe"></textarea><span id="msg_describe"></span></td>
                                </tr>
                                <tr class="agree">
                                    <td><input type="checkbox" id="agree" name="agree" value="OK"></td>
                                    <td><p>Je consens à ce que les données qui me sont personnelles, récoltées via ce formulaire soient récoltées et traitées selon spécifié sur la page <a href="confidentialite.html#rgpd">Politique de Confidentialité</a>. Les seules données recueillies sont celles saisies dans les champs du formulaire. Votre adresse e-mail et votre nom sont obligatoires afin d'établir une communication.</p></td>
                                </tr>
                                <tr><td></td><td><div id="msg_agree"></div></td></tr>
                                <tr class="hp">
                                  <td><label for="hp"></label></td>
                                  <td><input type="text" id="hp" name="hp"></td>
                                </tr>
                            </tbody>
                        </table>

                        <br/>
                        <button class="materialize-btn" type="submit" name="action">Envoyer</button>

                    </form>

                    <div class="adress">
                        <table>
                            <tbody>
                                <tr>
                                    <td><i class="fa fa-user"></i></td>
                                    <td>Simon Crespeau</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-envelope"></i></td>
                                    <td>simon@art-e-toile.com</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-phone"></i></td>
                                    <td>06.88.88.68.95</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-map-marker"></i></td>
                                    <td>14 rue Riboutet 33670 Créon</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>SIRET: 750 042 798 00025<br/>APE: 6201Z</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>

<%= require ('./partials/footer.ejs')() %>

    <script type="text/javascript" src="dist/app/app.js"></script>
    <script type="text/javascript" src="./jquery-3.3.1.min.js"></script>
    <script type="text/javascript">

        $(function(){

            $('#form').submit(function(event){
                event.preventDefault();
                $('#msg_name').html('');
                $('#msg_email').html('');
                $('#msg_describe').html('');

                var name = $('#name').val();
                var society = $('#society').val();
                var email = $('#email').val();
                var phone = $('#phone').val();
                var describe = $('#describe').val();
                var agree = $('#agree')[0].checked;
                var hp = $('#hp').val();

                var msg = 'Merci de bien vouloir remplir ce champ <i class="fas fa-sort-up"></i>';
                var mailMsg = 'Merci d\'entrer une adresse mail valide';
                var mailAgree = 'Vous ne pouvez pas envoyer cet e-mail si vous n\'acceptez pas de transmettre vos noms et adresse e-mail';

                var dataString = name + society + email + phone + describe + agree;

                if (name == "") { $('#msg_name').html(msg); }
                else if (email == "") { $('#msg_email').html(msg); }
                else if (!validEmail(email)) { $('#msg_email').html(mailMsg)}
                else if (describe == "") { $('#msg_describe').html(msg); }
                else if (agree == false) { $('#msg_agree').html(mailAgree); }
                else if (hp !== "") { return false; }
                else {

                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('action'),
                        data: $(this).serialize(),
                        success: function() {
                            $('#form').html('<p>Merci bien! Votre message a bien été envoyé...</p>');
                        },
                        error: function() {
                            $('#form').html('<p>Excusez-moi, mais une erreur est apparue lors de l\'envoi du message...<br/>Veuillez recharger la page ou ré-essayer plus tard<br/>(vous pouvez également m\'envoyer directement un e-mail à simon@art-e-toile.com)</p>');
                        }
                    })

                }

                function validEmail(email) {
                  var filter = /^([a-zA-Z0-9\._%\+\-]+)@[a-z0-9\.\-]+\.[a-zA-Z]+$/;
                  if (filter.test(email)) {
                    return true;
                  } else {
                    return false;
                  }
                }

            });

        });

    </script>
    </body>
</html>
