<%= require('./partials/header.ejs')() %>

        <div id="realisations-wrapper">

            <h1>Formations</h1>

            <div class="container thumbs-container">

                    <div>
                        <div class="wrap">
                            <img src="dist/img/formations/rgpd/thumb.jpg" alt="memoria">
                            <a href="rgpd.html">
                                <div class="overlay">
                                    <div class="title">RGPD</div>
                                </div>
                            </a>
                        </div>
                    </div>

            </div>

        </div>

<%= require('./partials/footer.ejs')() %>

    <script type="text/javascript" src="dist/app/app.js"></script>
    </body>
</html>
