<%= require('./partials/headerHome.ejs')() %>

        <div id="index-wrapper">

        <section class="home-services container">
                <div class="logo-container" data-aos="fade-up">
                    <a href="services.html"><div class="icon-wrapper"><i class="fa fa-sitemap"></i></div></a>
                    <h4>Site Web complet</h4>
                    <p>Développement, programmation back et front adaptée à vos besoins.</p>
                </div>
                <div class="logo-container" data-aos="fade-up" data-aos-delay="100">
                  <a href="services.html"><div class="icon-wrapper"><i class="fa fa-code-branch"></i></div></a>
                  <h4>Outils Libres</h4>
                  <p>Soutenez la démarche du logiciel libre en utilisant des alternatives libres et décentralisées pour vos services web.</p>
                </div>
                <div class="logo-container" data-aos="fade-up" data-aos-delay="200">
                    <a href="services.html"><div class="icon-wrapper"><i class="fa fa-globe"></i></div></a>
                    <h4>Pas de requête CDN</h4>
                    <p>Respectez vos visiteurs. Pas de requête vers des services qui collectent vos données.</p>
                </div>
                <div class="logo-container" data-aos="fade-up" data-aos-delay="300">
                    <a href="services.html"><div class="icon-wrapper"><i class="fa fa-server"></i></div></a>
                    <h4>Hébergement Local</h4>
                    <p>Décentralisons Internet, comme à ses origines. Hébergement local sur Bordeaux.</p>
                </div>
        </section>

            <div id="separate-home"></div>
            <section class="whoami">
                <div class="container" data-aos="fade-right" data-aos-duration="800">
                    <h2>Qui suis-je?</h2>
                    <div class="text">
                        <img src="dist/img/fusee3.png" class="fusee" alt="fusee" style="width:60px;">
                        <img src="dist/img/astronaut.png" class="astronaut" alt="astronaut" style="width:90px;">
                        <p>Je m'appelle Simon, passioné d'informatique, d'Internet, de web et plus généralement de culture numérique.</p>
                        <p>Aujourd'hui, je suis développeur web en freelance, mais je m'occupe également d'Administration Système, de promotion du modèle des logiciels et des Internets libres. Je fais également des formations et de la vulgarisation à leur utilisation.</p>
                        <p>Jetez un oeil à <strong><a href="realisations.html">mes réalisations</a></strong> et surtout n'hésitez pas <strong><a href="contact.html">prendre contact</a></strong> avec moi si vous avez la moindre question.</p>
                    </div>
                    <div class="logos-container">
                        <img src="dist/img/logos/creon.png"/>
                        <img src="dist/img/logos/foutrack.png"/>
                        <img src="dist/img/logos/memoria.png"/>
                        <img src="dist/img/logos/onde.png"/>
                    </div>
                    <a href="realisations.html" class="materialize-btn">et bien d'autres ...</a>
                </div>
            </section>

            <section class="action">
                <span class="contact-me">Discutons ensemble de votre projet !</span><a href="contact.html" class="materialize-btn" data-aos="zoom-in">contactez-moi</a>
            </section>

        </div>

<%= require('./partials/footer.ejs')() %>

    <script type="text/javascript" src="dist/app/app.js"></script>
    <script type="text/javascript">
      var replace = new ReplaceMe(document.querySelector('.replace'), {
        animation: 'animated fadeInDown',
        speed: 3000
      })
    </script>
    </body>
</html>
