<%= require('./partials/header.ejs')() %>

        <div id="single-wrapper">

            <div class="website wrapper">
                <div class="container">
                    <a class="weblist-anchor" href="realisations.html"><i class="fa fa-th"></i> Retour à la liste</a>
                    <h1>La Veilleuse</h1>
                    <div class="website-container">
                        <div class="devices">
                            <img src="dist/img/sites/laveilleuse/devices.png" alt="sortir à créon">
                        </div>
                        <div class="text">
                            <div class="wrap">
                                <p><strong>Espace de collectif et de développement artistique</strong></p>
                                <p>Présentation de chaque artiste et découverte de leurs créations.</p>
                                <p class="link"><a href="http://laveilleuse.art-e-toile.com" target="_blank">https://www.laveilleuse.org</a></p>
                                <br>
                                <table class="infos">
                                    <tr>
                                      <td class="logo"><i class="fa fa-code-branch"></i></td>
                                      <td><p>Code source disponible sur <a href="https://framagit.org/Ximun/laveilleuse" target="_blank"><i class="fab fa-gitlab"></i></a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="separate-single"></div>
            <div class="technos wrapper gray">
                <div class="container">

                    <div class="website-anchor">
                        <a class="materialize-btn" href="http://laveilleuse.art-e-toile.com" target="_blank">voir le site</a>
                    </div>
                    <div class="logos">
                            <i class="fab fa-js" tooltip="Javascript"></i>
                            <i class="fab fa-html5" tooltip="HTML"></i>
                            <i class="fab fa-css3-alt" tooltip="CSS"></i>
                    </div>
                </div>
            </div>


        </div>

<%= require('./partials/footer.ejs')() %>

    <script type="text/javascript" src="dist/app/app.js"></script>
    </body>
</html>
