<%= require('./partials/header.ejs')() %>

        <div id="single-wrapper">

            <div class="website wrapper">
                <div class="container">
                    <a class="weblist-anchor" href="realisations.html"><i class="fa fa-th"></i> Retour à la liste</a>
                    <h1>Mémoria Studio</h1>
                    <div class="website-container">
                        <div class="devices">
                            <img src="dist/img/sites/memoria/devices.png" alt="sortir à créon">
                        </div>
                        <div class="text">
                            <div class="wrap">
                                <p><strong>Agence de Photo - Vidéo - Graphisme</strong></p>
                                <p>Site Vitrine et portfolio de productions audiovisuelles.</p>
                                <p class="link"><a href="https://www.memoria-studio.fr" target="_blank">https://www.memoria-studio.fr</a></p>
                                <br>
                                <table class="infos">

                                    <tr>
                                        <td class="logo"><i class="fa fa-times-circle"></i></td>
                                        <td><p>Ce site n'existe plus</p></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="separate-single"></div>
            <div class="technos wrapper gray">
                <div class="container">

                    <div class="website-anchor">
                        <a class="materialize-btn" href="https://www.memoria-studio.fr" target="_blank">voir le site</a>
                    </div>
                    <div class="logos">
                            <i class="fab fa-wordpress" tooltip="Wordpress"></i>
                            <i class="fab fa-php" tooltip="PHP"></i>
                            <i class="fab fa-js" tooltip="Javascript"></i>
                            <i class="fab fa-html5" tooltip="HTML"></i>
                            <i class="fab fa-css3-alt" tooltip="CSS"></i>
                    </div>
                </div>
            </div>


        </div>

<%= require('./partials/footer.ejs')() %>

    <script type="text/javascript" src="dist/app/app.js"></script>
    </body>
</html>
