<%= require('./partials/header.ejs')() %>

        <div id="services-wrapper">

            <div class="container">

                <h1>Mentions Légales</h1>

                <h2>Identification du site:</h2>
                <p>
                    <b>Nom:</b> art e-toile<br>
                    <b>URL:</b> www.art-e-toile.com
                </p>

                <h2>Propriétaire du site:</h2>
                <p>
                    Simon Crespeau<br>
                    14 rue Riboutet 33670 Créon<br>
                    Directeur de la publication: Simon Crespeau<br>
                    Directeur de la rédaction: Simon Crespeau
                </p>

                <h2>Hébergement:</h2>
                <p>
                    <b>o2switch</b><br>
                    222-224 boulevard Gustave Flaubert<br>
                    63000 Clermont-Ferrand
                </p>

                <h2>Crédits</h2>
                <p>
                    Site réalisé par Simon Crespeau<br>
                    14 rue Riboutet 33670 Créon<br>
                    Identification SIRET : 750 042 798 00025<br>
                    <a href="mailto:simon@art-e-toile.com">simon@art-e-toile.com</a><br>
                    <a href="https://www.art-e-toile.com">www.art-e-toile.com</a>
                </p>

            </div>

        </div>

<%= require('./partials/footer.ejs')() %>

    <script type="text/javascript" src="dist/app/app.js"></script>
    </body>
</html>
