<%= require('./partials/header.ejs')() %>

        <div id="single-wrapper">

            <div class="website wrapper">
                <div class="container">
                    <a class="weblist-anchor" href="realisations.html"><i class="fa fa-th"></i> Retour à la liste</a>
                    <h1>Petit Grain de Peau</h1>
                    <div class="website-container">
                        <div class="devices">
                            <img src="dist/img/sites/petitgraindepeau/devices.png" alt="Petit grain de Peau">
                        </div>
                        <div class="text">
                            <div class="wrap">
                                <p><strong>Maroquinerie Artisanale en Gironde</strong></p>
                                <p>Présentation du travail, système de mise en ligne d'articles de maroquinerie et d'évènements.</p>
                                <p class="link"><a href="https://petitgraindepeau.fr" target="_blank">https://petitgraindepeau.fr</a></p>
                                <br>
                                <table class="infos">
                                    <tr>
                                      <td class="logo"><i class="fa fa-code-branch"></i></td>
                                      <td><p>Code source disponible sur <a href="https://framagit.org/Ximun/petit-grain-de-peau" target="_blank"><i class="fab fa-gitlab"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="logo"><i class="fa fa-server"></i></td>
                                        <td><p>Hébergé par mes soins sur l'infrastructure d'<a target="_blank" href="https://aquilenet.fr">Aquilenet</a></p></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="separate-single"></div>
            <div class="technos wrapper gray">
                <div class="container">

                    <div class="website-anchor">
                        <a class="materialize-btn" href="https://petitgraindepeau.fr" target="_blank">voir le site</a>
                    </div>
                    <div class="logos">
                            <i class="fab" tooltip="Django"><img src="dist/img/logos/tools/django.svg" style="width:30px;"></i>
                            <i class="fab" tooltip="Python"><img src="dist/img/logos/tools/python.svg" style="width:30px;"></i>
                            <i class="fab fa-html5" tooltip="HTML"></i>
                            <i class="fab fa-css3-alt" tooltip="CSS"></i>
                            <i class="fab fa-js" tooltip="Javascript"></i>
                    </div>
                </div>
            </div>


        </div>

<%= require('./partials/footer.ejs')() %>

    <script type="text/javascript" src="dist/app/app.js"></script>
    </body>
</html>
