<%= require('./partials/header.ejs')() %>

        <div id="single-wrapper">

            <div class="website wrapper">
                <div class="container">
                    <a class="weblist-anchor" href="realisations.html"><i class="fa fa-th"></i> Retour à la liste</a>
                    <h1>Philippe Crespeau</h1>
                    <div class="website-container">
                        <div class="devices">
                            <img src="dist/img/sites/philippe-crespeau/devices.png" alt="université populaire de bordeaux">
                        </div>
                        <div class="text">
                            <div class="wrap">
                                <p><strong>Comédien et Acteur</strong></p>
                                <p>Site vitrine, photos et vidéos.</p>
                                <p class="link"><a href="https://www.philippe-crespeau.fr" target="_blank">https://www.philippe-crespeau.fr</a></p>
                                <br>
                                <table class="infos">
                                    <tr>
                                        <td class="logo"><i class="fa fa-check-circle"></i></td>
                                        <td><p>Thème Hugo développé à partir du thème <a href="https://themes.gohugo.io/hugo-resume/" target="_blank">Resume</a> et accessible sur <a href="https://framagit.org/Ximun/hugo-philou-theme/" target="_blank"><i class="fab fa-gitlab"></i></a></p></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="separate-single"></div>
            <div class="technos wrapper gray">
                <div class="container">

                    <div class="website-anchor">
                        <a class="materialize-btn" href="https://philippe-crespeau.fr" target="_blank">voir le site</a>
                    </div>
                    <div class="logos">
                            <i class="fab" tooltip="Hugo"><img src="dist/img/logos/tools/hugo.svg" style="width:30px;"></i>
                            <i class="fab fa-html5" tooltip="HTML"></i>
                            <i class="fab fa-css3-alt" tooltip="CSS"></i>
                            <i class="fab fa-js" tooltip="Javascript"></i>
                    </div>
                </div>
            </div>


        </div>

<%= require('./partials/footer.ejs')() %>

    <script type="text/javascript" src="dist/app/app.js"></script>
    </body>
</html>
