<%= require('./partials/header.ejs')() %>

        <div id="realisations-wrapper">

            <h1>Réalisations</h1>

            <div class="container thumbs-container">

                    <div>
                        <div class="wrap">
                            <img src="dist/img/sites/foutrack/thumb.jpg" alt="foutrack deluxe">
                            <a href="foutrack.html">
                                <div class="overlay">
                                    <div class="logo"><img src="dist/img/sites/foutrack/logo-white.png"/></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="wrap">
                            <img src="dist/img/sites/sortiracreon/thumb.jpg" alt="sortir à créon">
                            <a href="sortiracreon.html">
                                <div class="overlay">
                                    <div class="logo"><img src="dist/img/sites/sortiracreon/logo-white.png"/></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="wrap">
                            <img src="dist/img/sites/onde/thumb.jpg" alt="onde">
                            <a href="onde.html">
                                <div class="overlay">
                                    <div class="logo"><img src="dist/img/sites/onde/logo-white.png"/></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="wrap">
                            <img src="dist/img/sites/laveilleuse/thumb.jpg" alt="la veilleuse">
                            <a href="laveilleuse.html">
                                <div class="overlay">
                                    <div class="logo"><img src="dist/img/sites/laveilleuse/logo-white.png"/></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="wrap">
                            <img src="dist/img/sites/nathalie-valade/thumb.jpg" alt="nathalie valade">
                            <a href="nathalie-valade.html">
                                <div class="overlay">
                                    <div class="logo"><img src="dist/img/sites/nathalie-valade/logo-white.png"/></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="wrap">
                            <img src="dist/img/sites/upbordeaux/thumb.jpg" alt="université populaire de bordeaux">
                            <a href="universite-populaire-bordeaux.html">
                                <div class="overlay">
                                    <div class="logo"><img src="dist/img/sites/upbordeaux/logo-white.png"/></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="wrap">
                            <img src="dist/img/sites/philippe-crespeau/thumb.jpg" alt="Philippe Crespeau">
                            <a href="philippe-crespeau.html">
                                <div class="overlay">
                                    <div class="logo"><img src="dist/img/sites/philippe-crespeau/logo-white.png"/></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="wrap">
                            <img src="dist/img/sites/eloitembremande/thumb.jpg" alt="Éloi Tembremande">
                            <a href="eloitembremande.html">
                                <div class="overlay">
                                    <div class="logo"><img src="dist/img/sites/eloitembremande/logo-white.png"/></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="wrap">
                            <img src="dist/img/sites/petitgraindepeau/thumb.jpg" alt="Petit Grain de Peau">
                            <a href="petitgraindepeau.html">
                                <div class="overlay">
                                    <div class="logo"><img src="dist/img/sites/petitgraindepeau/logo-white.png"/></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="wrap">
                            <img src="dist/img/sites/memoria/thumb.jpg" alt="memoria">
                            <a href="memoria.html">
                                <div class="overlay">
                                    <div class="logo"><img src="dist/img/sites/memoria/logo-white.png"/></div>
                                </div>
                            </a>
                        </div>
                    </div>

            </div>

        </div>

<%= require('./partials/footer.ejs')() %>

    <script type="text/javascript" src="dist/app/app.js"></script>
    </body>
</html>
