<%= require('./partials/header.ejs')() %>

        <div id="single-wrapper">

            <div class="website wrapper">
                <div class="container">
                    <a class="weblist-anchor" href="formations.html"><i class="fa fa-th"></i> Retour à la liste</a>
                    <h1>RGPD</h1>
                    <div class="website-container">
                        <div class="logo">
                            <img src="dist/img/formations/rgpd/thumb.jpg" alt="sortir à créon">
                        </div>
                        <div class="text">
                            <div class="wrap">
                                <p><strong>Formation RGPD</strong></p>
                                <p>Le Règlement Général sur la Protection des Données à caractère personnel du 25 mai 2018 oblige les structures, grandes ou plus petites, à beaucoup plus de transparence quant aux traitements des données à caractère personnel qu'elles récoltent au cours de leur activité. Cette formation vous aide à prendre les mesures nécessaires pour rester en règle tout en comprenant les enjeux citoyens derrière un tel règlement.</p>
                                <p>Les supports de formation sont en libre accès et réutilisables sous licence Creative Commons CC-BY-SA.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="separate-single"></div>
            <div class="technos wrapper gray">
                <div class="container">

                    <div class="website-anchor">
                        <a class="materialize-btn" href="slides/rgpd/formation-rgpd.pdf" target="_blank"><i class="fa fa-download"></i> Format PDF</a>
                        <a class="materialize-btn" href="slides/rgpd/html/index.html" target="_blank"><i class="fa fa-globe"></i> Format Web</a>
                    </div>
                    <div class="logos">
                            <img src="dist/img/cc/cc.svg" alt="Creative Commons">
                            <img src="dist/img/cc/by.svg" alt="BY">
                            <img src="dist/img/cc/sa.svg" alt="SA">
                    </div>
                </div>
            </div>


        </div>

<%= require('./partials/footer.ejs')() %>

    <script type="text/javascript" src="dist/app/app.js"></script>
    </body>
</html>
