<%= require('./partials/header.ejs')() %>

        <div id="services-wrapper">

            <h1>Votre site web sur mesure</h1>

            <div class="accompagnement wrapper white">
                <div class="container">
                    <div class="img-wrapper" data-aos="zoom-in-right">
                        <img src="dist/img/services/discuss.png"/>
                    </div>
                    <div class="text-wrapper">
                        <div class="text">
                            <p><strong>Je vous accompagne dans votre projet</strong></p>
                            <p>Nous définissons <b>ensemble</b> ce que sera votre nouveau site web, en fonction de vos envies, vos besoins et votre budget.</p>
                            <p>Cette étape est très importante, car elle constitue le point de départ de toutes les autres. Elle nécessite plusieurs moments d'échange afin d'être sûrs de partir sur de bonnes bases.</p>
                            <p>C'est lors de cette étape que nous établissons le <b>design</b> et la <b>logique</b> de votre site.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="realisation wrapper blue">
                <div class="container">
                    <div class="text-wrapper">
                        <div class="text">
                            <p><strong>Je développe votre site web</strong></p>
                            <p>Ensuite vient la phase de <b>production</b>: je code votre site web!</p>
                            <p>Je mets à votre disposition un espace qui vous permet à la fois de suivre l'évolution de votre futur site et de faire des essais.</p>
                            <p>Nous restons bien sûr toujours en contact.</p>
                        </div>
                    </div>
                    <div class="img-wrapper" data-aos="zoom-in-left">
                        <img src="dist/img/services/programming.png"/>
                    </div>
                </div>
            </div>

            <div class="apres wrapper white">
                <div class="container">
                    <div class="img-wrapper" data-aos="zoom-in-right">
                        <img src="dist/img/services/teaching.png"/>
                    </div>
                    <div class="text-wrapper">
                        <div class="text">
                            <p><strong>Je vous <b>forme</b> à l'utilisation et l'administration de votre nouveau site</strong></p>
                            <p>Une fois en ligne, vous aurez besoin de savoir <b>gérer le contenu</b> de votre site web. Si nous avons décidé de programmer une interface d'administration, je vous forme à vous en servir le plus simplement possible.</p>
                            <p>C'est également le moment de démarches techniques telles que <b>l'hébergement</b> (le stockage de votre site sur un serveur) et l'obtention du <b>nom de domaine</b> (son adresse: <i>www.example.org</i>)</p>
                            <p>Je peux m'en charger via mon hébergeur, ou bien vous pouvez le faire de votre côté si vous préférez garder la main sur cette partie.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="competences wrapper white">
                <h2>Mes compétences</h2>
                <div class="container" data-aos="fade-up">
                    <div class="competence">
                        <table>
                            <tr>
                                <td class="logo"><i class="fa fa-code"></i></td>
                                <td class="text">
                                    <strong>Développement Web</strong>
                                    <p>Je développe grâce aux derniers langages, technologies et outils destinés au Web. Back-end et Front-end.</p>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="competence">
                        <table>
                            <tr>
                                <td class="logo"><i class="fa fa-mobile-alt"></i></td>
                                <td class="text">
                                    <strong>Responsive</strong>
                                    <p>J'adapte votre site à toutes les tailles d'écran: ordinateurs, tablettes, smartphones.</p>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="competence">
                        <table>
                            <tr>
                                <td class="logo"><i class="fa fa-paint-brush"></i></td>
                                <td class="text">
                                    <strong>Webdesign</strong>
                                    <p>Je pense et conçois votre site en fonction de ses objectifs de communication.</p>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="competence">
                        <table>
                            <tr>
                                <td class="logo"><i class="fa fa-database"></i></td>
                                <td class="text">
                                    <strong>Hébergement</strong>
                                    <p>Je peux héberger votre site ainsi que gérer son nom de domaine et son certificat SSL (Connexion sécurisée en https://).</p>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="competence">
                        <table>
                            <tr>
                                <td class="logo"><i class="fa fa-desktop"></i></td>
                                <td class="text">
                                    <strong>Back-Office</strong>
                                    <p>Je peux vous fournir un moyen simple d’avoir la main sur votre contenu.</p>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="competence">
                        <table>
                            <tr>
                                <td class="logo"><i class="fa fa-chart-pie"></i></td>
                                <td class="text">
                                    <strong>Statistiques</strong>
                                    <p>Je peux installer des outils libres de statistiques d'audience, afin que vous puissiez les consulter simplement.</p>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

                <div style="text-align:center;" data-aos="zoom-in"><a class="materialize-btn" href="realisations.html">voir mes précédentes réalisations</a> <a class="materialize-btn" href="contact.html">me contacter</a></div>
            </div>

            <div class="technologies wrapper white">
                <h2>Je travaille avec</h2>
                <div class="container">
                    <div class="techno" tooltip="ArchLinux"><img src="dist/img/logos/tools/archlinux.svg"></div>
                    <div class="techno" tooltip="Atom"><img src="dist/img/logos/tools/atom.svg"></div>
                    <div class="techno" tooltip="Inkscape"><img src="dist/img/logos/tools/inkscape.svg"></div>
                    <div class="techno" tooltip="Gimp"><img src="dist/img/logos/tools/gimp.svg"></div>
                    <div class="techno" tooltip="HTML5"><img src="dist/img/logos/tools/html.svg"></div>
                    <div class="techno" tooltip="CSS3"><img src="dist/img/logos/tools/css.svg"></div>
                    <div class="techno" tooltip="PHP"><img src="dist/img/logos/tools/php.svg"></div>
                    <div class="techno" tooltip="JavaScript"><img src="dist/img/logos/tools/javascript.svg"></div>
                    <div class="techno" tooltip="Python"><img src="dist/img/logos/tools/python.svg"></div>
                    <div class="techno" tooltip="Composer"><img src="dist/img/logos/tools/composer.svg"></div>
                    <div class="techno" tooltip="npm"><img src="dist/img/logos/tools/npm.svg"></div>
                    <div class="techno" tooltip="Webpack"><img src="dist/img/logos/tools/webpack.svg"></div>
                    <div class="techno" tooltip="git"><img src="dist/img/logos/tools/git.svg"></div>
                    <div class="techno" tooltip="GitLab"><img src="dist/img/logos/tools/gitlab.svg"></div>
                    <div class="techno" tooltip="Laravel"><img src="dist/img/logos/tools/laravel.svg"></div>
                    <div class="techno" tooltip="Django"><img src="dist/img/logos/tools/django.svg"></div>
                    <div class="techno" tooltip="Hugo"><img src="dist/img/logos/tools/hugo.svg"></div>
                    <div class="techno" tooltip="Wordpress"><i class="fab fa-wordpress"></i></div>
                    <div class="techno" tooltip="Sass"><img src="dist/img/logos/tools/sass.svg"></div>
                    <div class="techno" tooltip="Gulp"><img src="dist/img/logos/tools/gulp.svg"></div>
                    <div class="techno" tooltip="MySQL"><img src="dist/img/logos/tools/mysql.svg"></div>
                    <div class="techno" tooltip="Docker"><img src="dist/img/logos/tools/docker.svg"></div>
                    <div class="techno" tooltip="Bootstrap"><img src="dist/img/logos/tools/bootstrap.svg"></div>
                    <div class="techno" tooltip="Foundation"><img src="dist/img/logos/tools/foundation.svg"></div>
                    <div class="techno" tooltip="Matomo"><img src="dist/img/logos/tools/matomo.svg"></div>
                    <div class="techno dots" tooltip="etc..."><img src="dist/img/logos/tools/dots.svg"></div>
                </div>
            </div>
        </div>

<%= require('./partials/footer.ejs')() %>

    <script type="text/javascript" src="dist/app/app.js"></script>
    </body>
</html>
