<%= require('./partials/header.ejs')() %>

        <div id="single-wrapper">

            <div class="website wrapper">
                <div class="container">
                    <a class="weblist-anchor" href="realisations.html"><i class="fa fa-th"></i> Retour à la liste</a>
                    <h1>sortir à créon</h1>
                    <div class="website-container">
                        <div class="devices">
                            <img src="dist/img/sites/sortiracreon/devices.png" alt="sortir à créon">
                        </div>
                        <div class="text">
                            <div class="wrap">
                                <p><strong>Agenda culturel de la ville de Créon</strong></p>
                                <p>Chaque association culturelle créonnaise possède un compte qui permet de poster les manifestations qu'elle organise sur la commune.</p>
                                <p class="link"><a href="https://www.sortiracreon.fr" target="_blank">https://www.sortiracreon.fr</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="separate-single"></div>
            <div class="technos wrapper gray">
                <div class="container">

                    <div class="website-anchor">
                        <a class="materialize-btn" href="https://www.sortiracreon.fr" target="_blank">voir le site</a>
                    </div>
                    <div class="logos">
                            <i class="fab fa-wordpress" tooltip="Wordpress"></i>
                            <i class="fab fa-php" tooltip="PHP"></i>
                            <i class="fab fa-js" tooltip="Javascript"></i>
                            <i class="fab fa-html5" tooltip="HTML"></i>
                            <i class="fab fa-css3-alt" tooltip="CSS"></i>
                    </div>
                </div>
            </div>


        </div>

<%= require('./partials/footer.ejs')() %>

    <script type="text/javascript" src="dist/app/app.js"></script>
    </body>
</html>
