* {
    box-sizing: border-box;
    outline:0;
}

body {
    margin:0;
    padding:0;
}

a {outline: none;}

.wrapper {

    &.white {background-color: $white;strong,h2{color: $space-blue;}}
    &.blue {background-color: $dark-blue;color: $white;}
    &.gray {background-color: $little-gray;}

    h2 {
        text-align: center;
        text-transform: uppercase;
    }


    strong  {
        font-size: $lead-font-size;
    }

}

i {vertical-align: middle;}

span.tooltip {
    visibility: hidden;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);

    background-color: lighten($black, 20%);

    padding: 10px;

    font-family: 'Montserrat';
    font-size: 15px;
    color: $white;
    opacity: 0;

    transition: opacity .3s;
}

[tooltip]:hover {
    position: relative;
    & span.tooltip {
        visibility: visible;
        opacity: 1;
    }
}
