button.materialize-btn, a.materialize-btn {
    border: none;
    font-size: 15px;
    font-family: 'Montserrat';
    padding: 18px 28px;
    background-color: $blue-green;
    color: $white;
    box-shadow: 1px 1px 4px darken($little-gray,50%);
    transition: background-color .3s;

    &:hover {
        background-color: lighten($blue-green, 10%);
        color: $white;
    }
}
