@mixin menu-link() {
    color: $white;
    transition: text-shadow 0.2s;

    &:hover {
        text-shadow: 0 0 5px $white;
    }
}

@mixin grid($s, $m, $l, $gap: null) {
    @media screen and (min-width: $screen-small) and (max-width: $screen-medium){grid-template-columns: repeat($s, 1fr);}
    @media screen and (min-width: $screen-medium) and (max-width: $screen-large){grid-template-columns: repeat($m, 1fr);}
    @media screen and (min-width: $screen-large){grid-template-columns: repeat($l, 1fr);}
    display: grid;
    grid-gap: $gap;
}

@mixin separate($height, $side, $color) {
    @media screen and (min-width: $screen-medium) {
        border-top: $height solid transparent;
        @if($side == 'left') {
            border-left-style: solid;
            border-left-color: $color;
        } @elseif($side == 'right') {
            border-right-style: solid;
            border-right-color: $color;
        }
    }
}
