body {

    font-family: 'Montserrat';

    a {
        text-decoration: none;
        color: $link-color;

        &:hover {
            color: $link-color-hover;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
    }

    h1 {
        text-align: center;
        color: $space-blue;
        text-transform: uppercase;
    }
}
