footer#footer {

    .footer-links, p, .footer-bar {
        font-size: $small-font-size;
    }

    background: radial-gradient(farthest-side ellipse at top right, $dark-blue, $darkest-blue);

    color: $white;

    a {
        @include menu-link();
    }

    .footer-up {
        @include grid(1,3,3);
        padding-top: 20px;

        .footer-links {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .apropos {
          text-align: right;
            grid-column-end: span 2;
        }
    }

    .footer-networks {
        .networks {
            padding: 0;
            text-align: center;

            li {
                display: inline;
                list-style-type: none;
                padding: 0 5px;
                font-size: 25px;
            }
        }
    }

    .footer-bar {
        padding: 20px;
        text-align:center;
        background-color: $darkest-blue;
    }

}
