header {
    color: $white;

    #menuPageContainer {
        background-color: $darkest-blue;
    }

        .menu-container {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            #title-bar {
                flex: 1 1 auto;
                padding: 0.5rem;

                .logo-container {
                    display: flex;
                    align-items: center;

                    img{width:50px;}

                    .title {
                        margin-left: 15px;
                    }

                    a {
                        color: $white;
                    }
                }
            }

            #mainNav {
                flex: 0 1 auto;

                ul {
                    display: flex;
                    flex-wrap: nowrap;

                    list-style-type: none;
                    padding: 0;

                    li {
                        margin: 0 20px 0 20px;

                        &:last-child {
                            margin-right: 0;
                        }

                        a {
                            @include menu-link();
                        }
                    }
                }
            }
        }

    div#titles {
        margin-top: 60px;

        font-weight: normal;
        letter-spacing: 10px;
        text-align: center;
    }
}
