$transition: .3s;

#responsiveButton {
    display: none;
    cursor: pointer;
    flex: 1 1 0px;
    text-align: right;

    i {
        margin-right: 10px;
        font-size: 1.5em;
        @include menu-link();
    }
}

#responsiveOverlay {
    visibility: hidden;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    opacity: 0;
    transition: opacity $transition ease, visibility $transition ease;
}

#responsiveNav {
    display: none;
    position: fixed;
    width: 200px;
    z-index: 20;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $darkest-blue;
    color: $white;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform $transition ease-out;

    ul li {
        list-style-type: none;
        margin-top: 15px;
        margin-bottom: 15px;

        a {
            @include menu-link();
        }
    }
}

@media screen and (max-width: 720px) {
    #mainNav {
        display: none;
    }

    #responsiveButton, #responsiveNav, {
        display: block;
    }

    .responsive-activated#responsiveNav {
        transform: translateX(0);
        box-shadow: 0 0 10px black;
    }

    .responsive-activated#responsiveOverlay {
        visibility: visible;
        opacity: 0.25;
    }
}
