// n is number of stars required
@function multiple-box-shadow($n) {
    $value: '#{random(2000)}px #{random(2000)}px #FFF';
    @for $i from 2 through $n {
        $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
    }
    @return unquote($value);
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

#starsContainer {
    position: relative;
    height: 300px;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    overflow: hidden;
}

#stars {
    background: transparent;
    box-shadow: $shadows-small;
    width: 1px;
    height: 1px;
    animation			: animStar 150s linear infinite;

    &:after {
        content: " ";
        position: absolute;
        top: -2000px;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
    }
}


#stars2 {
    background: transparent;
    box-shadow: $shadows-medium;
    width: 2px;
    height: 2px;
    animation			: animStar 70s linear infinite;

    &:after {
        content: " ";
        position: absolute;
        top: -2000px;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
    }
}

#stars3 {
    background: transparent;
    box-shadow: $shadows-big;
    width: 3px;
    height: 3px;
    animation			: animStar 30s linear infinite;

    &:after {
        content: " ";
        position: absolute;
        top: -2000px;
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: $shadows-big ;
    }
}

span.title {
    margin-left: 10px;
}

#title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    left: 0;
    right: 0;

    color: #FFF;
    text-align: center;
    letter-spacing: 10px;

    padding-left: 10px;

    span {
        background: -webkit-linear-gradient(white, #38495a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

#ufo-header {
    margin-top: 60px;
    text-align: center;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(2000px);
    }
}
