#contact-wrapper {

    .me {
        @media screen and (min-width: $screen-large) {margin-bottom: -60px;}

        .apropos-container{
            position: relative;
            @include grid(1,3,3,20px);

            img.me{width:100%;}

            .me-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;

                #circle {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    background-color: $blue-green;
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px lighten($black,10%);

                    img {
                        height: 70%;
                    }
                }
            }

            .text-wrapper {
                grid-column-end: span 2;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .ufo {
                position: absolute;
                right:0;
                bottom:-50px;

                @media screen and (max-width: $screen-medium) {
                    width:50px;
                    margin-right: 10px;
                }
            }
        }

    }

    #separate-contact {
        @include separate(120px, left, $dark-blue);
    }

    .contact-form-and-adress {
        padding-bottom: 30px;

        @media screen and (max-width: $screen-medium) { h2{padding-top: 20px;}}
        h2 {margin-top: 0;}

        td:first-child {
            text-align: center;
        }

        .container {
            @include grid(1,2,2);
            justify-items: center;

            .form {
                width: 100%;
                text-align: right;

                table {
                    width: 100%;

                    tr {
                        height: 60px;
                        vertical-align: top + 10px;

                        i {font-size: 1.4em;}
                    }

                    tr.hp {
                      visibility: hidden;
                    }


                    input, textarea {
                        width: 100%;
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid $white;
                        font-size: 100%;
                        padding: 10px 10px 10px 0;
                        color: $white;

                        &::placeholder {
                            font-family: 'Montserrat';
                            color: $white;
                            opacity: .3;
                        }
                    }

                    textarea {
                        font-family: 'Montserrat';
                        height: 7em;
                        resize: none;
                    }

                    tr.agree p {
                        font-size: 80%;
                        opacity: .5;
                    }
                }

                button {text-transform: uppercase;}
            }

            .adress {
                display: flex;
                align-items: center;

                table {
                    margin: 30px;

                    td {
                        padding: 6px;
                    }

                }

            }
        }
    }

}
