#index-wrapper {
    text-align: center;

    .home-services {
        @include grid(1,2,4);
        max-width: 1000px;

        margin-top: 40px;

        & > * {
            text-align: center;
        }

        div.logo-container {

            & * {transition: all 0.3s ease;}

            &:hover {
                & .icon-wrapper {
                    background-color: $blue-green;
                    & > i {
                        color: $white;
                    }

                }
            }

            .icon-wrapper {
                position: relative;
                height: 130px;
                width: 130px;
                margin: auto;
                background-color: transparent;
                border-radius: 50%;

                i {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 4em;
                    color: $blue-green;
                }

            }

            h4 {
                margin: 15px 0;
                font-weight: bold;
            }

            p {
                padding: 0 35px;
                line-height: 1.2;
            }
        }
    }

    #separate-home {
        @include separate(60px, right, $little-gray)
    }

    section.whoami {
        background-color: $little-gray;
        padding: 50px 0;

        h2 {
            color: $space-blue;
        }

        .text {
            position: relative;
            background-color: white;
            padding: 30px;
            text-align :left;

            img {
                position: absolute;
                top: 0;
                transform: translate(-50%,calc(-50% - 10px));
            }

            img.fusee {
                position: absolute;
                z-index: 2;

                @media screen and (min-width: $screen-medium) {right: 100px;}
                @media screen and (max-width: $screen-medium) {right: 0}
            }

            img.astronaut {
                position: absolute;
                @media screen and (min-width: $screen-medium) {right: 10px;}
                @media screen and (max-width: $screen-medium) {display: none;}
                z-index: 1;
            }
        }

        .logos-container {
            @include grid(1,2,4);
            padding: 50px;

            img {
                margin: auto;
                padding: 10px;
            }
        }

        a {
            text-transform: lowercase;
        }
    }

    section.action {

        font-size: 30px;
        margin: 50px 0;

        span.contact-me {
            @media screen and (max-width: $screen-large) {font-size: 80%};
            vertical-align: middle;
            padding: 0 25px;
        }

        a {
            display: inline-block;
            @media screen and (max-width: $screen-medium) {
                display: block;
                margin: 32px 50px 0 50px;
            }
            text-transform: uppercase;
        }
    }
}
