#realisations-wrapper {
    margin-bottom: 40px;

    .thumbs-container {
        @include grid(1,2,4);
        //grid-gap: 1px;

            .wrap {
                position: relative;

                img {
                    width: 100%;
                    vertical-align: middle;
                }

                .overlay {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    opacity: 0;
                    position: absolute;
                    top:0;
                    left:0;
                    z-index: 1;

                    height: 100%;
                    width: 100%;
                    background-color: rgba($space-blue, 0.7);

                    cursor: pointer;

                    transition: opacity .3s;

                    .logo {
                        width: 50%;
                        z-index: 2;
                        color: white;
                    }

                    .title {
                        font-size: 200%;
                        text-align: center;
                        color: white;
                    }
                }

                &:hover {
                    & .overlay {
                        opacity: 1;
                    }
                }
            }
    }
}
