#services-wrapper {

    .accompagnement .container,
    .realisation .container,
    .apres .container {
        @include grid(1,3,3,30px);
        @media screen and (max-width:$screen-medium) {grid-column-gap:0;}
        padding-top: 60px;
        padding-bottom: 60px;

        .img-wrapper {
            img{width: 100%;}
        }

        .text-wrapper {
            display: flex;
            align-items: center;

            grid-column-end: span 2;
        }
    }

    .competences {
        padding-top: 1px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;

        background: url('../img/geometric-background.jpg') repeat-y;
        background-attachment: fixed;
        background-size: cover;

        .container {
            @include grid(1,2,2);
            grid-column-gap: 60px;
            margin-top: 60px;
            margin-bottom: 60px;

            box-shadow: 0 0 20px lighten($black, 60%);
            background-color: $white;

            .competence {
                margin-top: 10px;
                margin-bottom: 10px;
                td.logo {
                    width: 60px;
                    padding: 10px;
                    text-align: center;
                    i {font-size: 200%;}
                }
                td.text {
                    strong, p {font-size: 90%;}
                    strong {color: $main-font-color;}
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }

    .technologies {
        padding-bottom: 50px;

        .container {
            @include grid(3,5,10,40px);
            margin-top: 55px;

            .techno {
                display: flex;
                align-items: center;
                justify-content: center;
                img {width: 100%;max-height: 90px;}
                img.webpack {max-height: 90px;}
                i {font-size: 400%;}

                &.dots img{max-width: 40%;}
            }
        }
    }

}
