#single-wrapper {

    .website {
        padding-top: 10px;
        @media screen and (min-width: $screen-medium){margin-bottom: -60px;}

        .weblist-anchor {
            i {vertical-align: 0px;}
        }

        .website-container {
            @include grid(1,2,2);

            .devices img {width:100%;}

            .logo {
                text-align: center;

                img {max-width: 400px;}

            }
            
            .text {
                display: flex;
                align-items: center;
                text-align: center;

                .wrap {
                    width: 80%;
                    margin: auto;

                    table.infos {

                        td.logo {vertical-align:top;}

                        i.fa-check-circle {
                            vertical-align: 1px;
                            color:$blue-green;
                        }

                        p {
                            font-size: 90%;
                            color:$gray;
                            margin: 0 0 0 4px;
                            text-align: left;
                        }
                    }
                }
            }
        }

    }

    #separate-single {
        @include separate(60px, right, $little-gray);
    }

    .technos {
        padding-top:30px;
        padding-bottom:40px;

        .container {
            @include grid(1,2,2);
            grid-row-gap: 30px;
            text-align: center;

            .website-anchor {
                display: flex;
                align-items: center;
                justify-content: center;

                a.materialize-btn {
                    margin: 0 3px;
                    i {vertical-align: top;}
                }
            }

            .logos {

                    i {
                        position: relative;
                        font-size: 2.5em;
                        vertical-align: 5px;
                        margin-left: 5px;
                        margin-right: 5px;
                    }

                    i.fa-wordpress {color: #1A72B9;}
                    i.fa-php {color: #8993BE;}
                    i.fa-js {color: #F1D409;}
                    i.fa-html5 {color: #E44D26;}
                    i.fa-css3-alt {color: #1A72B9;}

            }
        }

    }

    .ressources {

        padding: 20px 0;
        
        h2,h3 {
          color: $space-blue;
        }
    }

}
