$space-blue: #2f598c;
$blue-green: #528da1;
$little-gray: #eee;
$gray: #bbb;
$dark-blue: #252c3e;
$darkest-blue: #0b0e14;
$white: #fefefe;
$black: #0e0e0e;

$main-font-color: $black;

$link-color: $space-blue;
$link-color-hover: darken($space-blue, 10%);
