$global-width: 1200px;

// Screens
$screen-small: 0px;
$screen-medium: 640px;
$screen-large: 1024px;

// Fonts
$global-font-size: 100%;
$lead-font-size: $global-font-size * 1.25;
$small-font-size: 80%;
